/* original-surfer-regular - latin */
@font-face {
  font-family: "Original Surfer";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/original-surfer-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/original-surfer-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/original-surfer-v16-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/original-surfer-v16-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/original-surfer-v16-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/original-surfer-v16-latin-regular.svg#OriginalSurfer")
      format("svg"); /* Legacy iOS */
}
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
li,
ul {
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Original Surfer";
  font-size: 16px;
  line-height: 1.5;
  background-color: black;
  color: white;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container {
  width: 1160px;
  margin: 0px auto;
  padding: 0px 20px;
}
.header__head {
  text-align: center;
  display: block;
  color: #6445ab;
}
.head {
  font-size: 40px;
  flex-shrink: 0;
}
.head__img {
  border-radius: 35px;
  background-color: transparent;
}
